@charset "UTF-8";
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.96;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #606060;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 330px;
  height: 330px;
  background: url("/images/portrait.jpeg");
  background-size: cover;
  border-radius: 50%;
  border: solid 3px #3498db;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-link {
  display: block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: #3498db;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.blog-card {
  width: 100%;
  height: 330px;
  position: relative;
  font-family: "Droid Serif", serif;
  color: #fff;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 0px;
  -webkit-box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-size: 100%;
}

.blog-card a {
  color: #fff;
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog-card .title-contentUp {
  text-align: center;
  margin: -100px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  -webkit-transition: all 1s, opacity 0.9s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: all 1s, opacity 0.9s cubic-bezier(0.33, 0.66, 0.66, 1);
  opacity: 0;
}

.blog-card h3 {
  font-size: 1.7em;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Raleway";
  text-transform: uppercase;
  margin-bottom: 0;
  display: block;
}

.blog-card h3 a {
  font-weight: bolder;
  text-transform: capitalize;
}

.blog-card h4 {
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Abril Fatface", serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}

.blog-card h4 a {
  font-weight: bold;
  color: #e31b6d;
}

.blog-card .card-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -80px;
  left: 0;
  margin: 0 auto;
  padding: 0 30px 15px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  -webkit-transition: bottom 1s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: bottom 1s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
  -webkit-transition: bottom 1s, opacity 0.9s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: bottom 1s, opacity 0.9s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.blog-card .card-info a {
  display: block;
  width: 80%;
  margin: 15px auto;
  background: #fff;
  color: #444;
  padding: 10px 10px;
  border: 2px solid #e31b6d;
  font-size: 1.3em;
}

.blog-card .card-info a:hover {
  background: #e31b6d;
  color: #fff;
}

.blog-card .card-info a:hover span {
  -webkit-filter: brightness(10);
          filter: brightness(10);
  opacity: 1;
}

.blog-card .color-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.blog-card:hover {
  -webkit-box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
          box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}

.blog-card:hover .card-info {
  opacity: 1;
  bottom: 6px;
}

.blog-card:hover .title-contentUp {
  margin-top: 60px;
  opacity: 1;
}

.blog-card:hover .color-overlay {
  background: #fff;
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.licon {
  position: relative;
  width: 23px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.licon:before {
  content: "";
  background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg?) -2px -6px no-repeat;
  background-size: 250px;
  width: 26px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: -3px;
  left: 0;
}

.icon-white {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.icon-black {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  opacity: 0.6;
}

@media (max-width: 500px) {
  .blog-card:hover .title-content,
  .title-content {
    margin-top: 40px;
  }
  .blog-card h3 {
    font-size: 1.3em;
  }
}

@-webkit-keyframes rubberBandd {
  25% {
    -webkit-transform: scale(1.3, 0.6);
            transform: scale(1.3, 0.6);
  }
  35% {
    -webkit-transform: scale(0.6, 1.3);
            transform: scale(0.6, 1.3);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  65% {
    -webkit-transform: scale(0.9, 1.02);
            transform: scale(0.9, 1.02);
  }
}

@keyframes rubberBandd {
  25% {
    -webkit-transform: scale(1.3, 0.6);
            transform: scale(1.3, 0.6);
  }
  35% {
    -webkit-transform: scale(0.6, 1.3);
            transform: scale(0.6, 1.3);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  65% {
    -webkit-transform: scale(0.9, 1.02);
            transform: scale(0.9, 1.02);
  }
}

.categoryHeadBox ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categoryHeadBox ul li {
  list-style: none;
  margin: 0 1rem;
  font-size: 1.6rem;
}

.categoryHeadBox ul li:hover {
  cursor: pointer;
  color: #3498db;
  -webkit-animation: rubberBandd 1s ease-in-out;
          animation: rubberBandd 1s ease-in-out;
}

.categoryHeadBox ul li::after {
  content: " ";
  display: block;
  width: 1%;
  height: 2.5px;
  margin: 5px auto 10px;
  border: 0;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
}

@-webkit-keyframes changeLetterrr {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}

@keyframes changeLetterrr {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}

ul li.active {
  color: #3498db;
}

ul li.active:after {
  visibility: visible;
  -webkit-animation: changeLetterrr 0.3s 1 linear;
          animation: changeLetterrr 0.3s 1 linear;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::-webkit-scrollbar {
  display: none;
}

body {
  background: #444;
  color: #fff;
  height: 100vh;
  /*resimden navbar ve marginlerin yuksekliklerini cikariyoruz.Boylece scroll olusmuyor.*/
  /* 160px marginler ve navbarın yuksekligi */
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}

body#bg-img {
  background-image: url("/images/background.jpg");
  background-position: center;
  background-size: cover;
}

body#bg-img .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  background: rgba(68, 68, 68, 0.85);
}

@keyframes rubberBandd {
  25% {
    -webkit-transform: scale(1.3, 0.6);
            transform: scale(1.3, 0.6);
  }
  35% {
    -webkit-transform: scale(0.6, 1.3);
            transform: scale(0.6, 1.3);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  65% {
    -webkit-transform: scale(0.9, 1.02);
            transform: scale(0.9, 1.02);
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}

h1.sm-heading:hover,
h2.sm-heading:hover,
h3.sm-heading:hover {
  -webkit-animation: rubberBandd 1.2s ease-in-out;
          animation: rubberBandd 1.2s ease-in-out;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.text-secondary {
  color: #3498db;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 50px);
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #3498db;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 15vh;
}

main#about {
  background: -webkit-gradient(linear, left top, right top, from(#232526), to(#414345));
  background: linear-gradient(to right, #232526, #414345);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main#about h1 {
  margin-top: 2vh;
}

main#about .sm-heading {
  margin-bottom: 1rem;
}

main#work {
  background: -webkit-gradient(linear, left top, right top, from(#232526), to(#414345));
  background: linear-gradient(to right, #232526, #414345);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 1rem 6.5rem;
}

main#work h1 {
  margin-top: 2vh;
}

main#work .sm-heading {
  margin-bottom: 1.5rem;
}

.about-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.about-info .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: #3498db 3px solid;
}

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1.5rem;
}

.about-info .bio p {
  margin: 0 0 0.5rem 0;
}

.about-info .job-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: job1;
}

.about-info .job-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: job2;
}

.about-info .job-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: job3;
}

.about-info .job {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #3498db 3px solid;
}

.about-info .job h6,
.about-info .job p {
  margin: 0.3rem 0;
}

.projects {
  display: -ms-grid;
  display: grid;
  padding: 0 4rem;
  grid-gap: 1.1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn:hover {
  background: #3498db;
  color: #000;
}

.tsparticles-canvas-el {
  width: 100vw !important;
  height: 99.2vh !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

#main-footer {
  text-align: center;
  padding: 0.8rem 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 50px;
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .projects img {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 4rem 2rem !important;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  main#about {
    padding: 2rem !important;
  }
  h1.lg-heading {
    font-size: 3rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    -webkit-transform: rotate3d(0, 0, 0);
            transform: rotate3d(0, 0, 0);
  }
  .menu-nav {
    height: 70vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 30vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url("/images/portrait_small.jpeg");
    background-size: cover;
    width: 200px;
    height: 200px;
  }
  .about-info {
        grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .projects img {
    height: 200px;
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects img {
    height: 200px;
  }
}
/*# sourceMappingURL=main.css.map */